.row {
	display: block;
	box-sizing: border-box;
	margin: 0 -15px;
	@include clear;
}

.col {
	float: left;
	box-sizing: border-box;
	padding: 0 15px;
}

.row-2 {
	@extend .row;
	@include rowColumns(2);
}

.row-3 {
	@extend .row;
	@include rowColumns(3);
}

.row-4 {
	@extend .row;
	@include rowColumns(4);
}

.row-5 {
	@extend .row;
	@include rowColumns(5);
}

.row-6 {
	@extend .row;
	@include rowColumns(6);
}