input,
textarea,
select {
	display: inline-block;
	font-size: 100%;
	border: 1px solid;
	padding: 4px 8px;
}

option {}

.button,
button,
[type="button"],
[type="submit"],
[type="reset"] {
	display: inline-block;
	font-size: 100%;
	border: 1px solid;
	padding: 4px 15px;
}

.input-field {
	margin: 15px 0;

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	.input-label {
		font-weight: 400;
		display: block;
	}
}